@import url("https://fonts.googleapis.com/css2?family=Alike&family=Roboto&display=swap");

:root {
  --font-scale: 12px;
  --text-color: #444444;
  --color-primary: #435058;
  --color-secondary: #e1735c;
  --color-tertiary: #e8e8e8;
  --inline-code-color: #4c81c9;
  --border-color: #e8e8e8;
  --icon-color: #4c81c9;
  --background-color: #fff;
  --code-blocks: #f8f9fa;
}

[data-theme="dark"] {
  --background-color: #37405b;
  --text-color: #e8e8e8;
  --border-color: #4b5a63;
  --icon-color: #f79d69;
  --code-blocks: #4b536b;
  --color-tertiary: #4b536b;
}

body * {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.wp-docs {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.hidden {
  display: none;
}

.selected {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--text-color);
}
h1 {
  font-size: 36px;
  line-height: calc(36px + var(--font-scale));
}
h2 {
  font-size: 32px;
  line-height: calc(32px + var(--font-scale));
}
h3 {
  font-size: 28px;
  line-height: calc(28px + var(--font-scale));
}
h4 {
  font-size: 24px;
  line-height: calc(24px + var(--font-scale));
}
h5 {
  font-size: 20px;
  line-height: calc(20px + var(--font-scale));
  font-family: Alike;
  color: #e1735c;
}

p,
li {
  font-size: 15px;
  color: var(--text-color);
  line-height: 21px;
  margin: 0 0 1rem;
}
p.small {
  font-size: 0.8rem;
  color: var(--text-color);
}
p.cell {
  margin: 0;
}

.row {
  padding-bottom: 20px;
}

td {
  font-size: 15px;
}

a {
  color: #e1735c;
}
code {
  color: #4c81c9;
}

code.attribute {
  color: var(--text-color);
  font-weight: bold;
}

.hljs {
  background: var(--code-blocks);
}

.json {
  color: var(--text-color);
}

.hljs-attr {
  color: var(--text-color);
}

.hljs-string {
  color: var(--color-secondary);
}

.hljs-number {
  color: var(--inline-code-color);
}

.search-found {
  background: #ebebeb;
}

.table {
  color: var(--text-color);
  background: var(--code-blocks) !important;
}

/* main
-----------------------------------------------*/

.wp-docs-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  border-bottom: 1px solid var(--border-color);
}

/* Sidebar 
-----------------------------------------------*/
.wp-docs-sidebar {
  grid: 1/2;
  border-right: 1px solid var(--border-color);
}
.wp-docs-sidebar ul {
  margin: 0;
  padding: 1em;
  position: sticky;
  top: 4.25rem;
}
.wp-docs-sidebar ul li {
  list-style-type: none;
  margin: 0;
  font-size: 0.9rem;
  line-height: 2rem;
}
.wp-docs-sidebar ul li a {
  text-decoration: none;
  color: var(--text-color);
}
.wp-docs-sidebar-title {
  background: var(--background-color);
  position: sticky;
  top: 0;
  height: 4rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.wp-docs-sidebar-title img {
  display: block;
}
.menu {
  width: 100%;
}

ul {
  list-style: none;
}

.menu li a {
  display: block;
  padding-left: 5px;
}
.menu li a:hover {
  background: var(--color-tertiary);
}
.menu li span {
  display: block;
  padding-left: 5px;
  cursor: pointer;
}
.menu li span:hover {
  background: var(--color-tertiary);
}

/* Content
-----------------------------------------------*/
.wp-docs-page-title {
  padding: 2rem;
}

.wp-docs-content-tab {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color);
}

.wp-docs-content .container {
  /* max-width: 1000px; */
  padding: 100px;
}

/* buttons, chips
-----------------------------------------------*/

.btn-outline-primary {
  border-color: #4c81c9 !important;
}

.btn-outline-primary:hover {
  background-color: #37405b !important;
}

.bg-warning {
  background-color: #f79d69 !important;
  color: var(--text-color) !important;
}

.bg-dark {
  background-color: #4c81c9 !important;
}

/* icons
-----------------------------------------------*/
.wp-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: -4px;
  color: var(--icon-color);
}
