@import url("https://fonts.googleapis.com/css2?family=Alike&family=Roboto&display=swap");
@import url("./sidebar-accordion.css");

:root {
  --font-scale: 12px;
  --color-primary: #435058;
  --color-secondary: #e1735c;
  --color-tertiary: #e8e8e8;
}

body * {
  box-sizing: border-box;
}

body.wp-docs {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  color: #444444;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 0;
  color: var(--color-primary);
}
h1 {
  font-size: 36px;
  line-height: calc(36px + var(--font-scale));
}
h2 {
  font-size: 32px;
  line-height: calc(32px + var(--font-scale));
}
h3 {
  font-size: 28px;
  line-height: calc(28px + var(--font-scale));
}
h4 {
  font-size: 24px;
  line-height: calc(24px + var(--font-scale));
}
h5 {
  font-size: 20px;
  line-height: calc(20px + var(--font-scale));
  font-family: Alike;
  color: #e1735c;
}

p,
li {
  font-size: 15px;
  color: #4e566d;
  line-height: 21px;
  margin: 0 0 1rem;
}
p.small {
  font-size: 0.8rem;
}
p.cell {
  margin: 0;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  font-size: 15px;
  color: #4e566d;
}

a {
  color: #e1735c;
}
code {
  color: #4c81c9;
}

code.attribute {
  color: var(--color-primary);
  font-weight: bold;
}

.hljs {
  background: #f8f9fa;
}

/* main
-----------------------------------------------*/

.wp-docs-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  border-bottom: 1px solid #d5d5d5;
}

/* Sidebar 
-----------------------------------------------*/
.wp-docs-sidebar {
  grid: 1/2;
  border-right: 1px solid #d5d5d5;
}
.wp-docs-sidebar ul {
  margin: 0;
  padding: 1em;
  position: sticky;
  top: 4.25rem;
}
.wp-docs-sidebar ul li {
  list-style-type: none;
  margin: 0;
  font-size: 0.9rem;
  line-height: 2rem;
}
.wp-docs-sidebar ul li a {
  text-decoration: none;
  color: #444;
}
.wp-docs-sidebar-title {
  background: #fff;
  position: sticky;
  top: 0;
  height: 4rem;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.wp-docs-sidebar-title img {
  display: block;
}

/* Content
-----------------------------------------------*/

.wp-docs-content {
  grid: 2/2;
}

.wp-docs-page-title {
  padding: 2rem;
}

.wp-docs-content article {
  max-width: 980px;
  padding: 4rem;
}

.wp-docs-content-tab {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  color: #425466;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
  font-weight: bold;
  font-size: 24px;
  font-weight: 300;
  /* background-image: linear-gradient(#f79d69, #e1735c); */
}

/* utils
-----------------------------------------------*/

.sticky {
  position: sticky;
  top: 10px;
}

.gray {
  color: #666;
}

.secondary {
  color: #4c81c9;
}

.thin {
  font-weight: 300;
}

.count {
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-color: #37405b;
  color: var(--color-tertiary);
  font-size: 14px;
  line-height: 24px;
  margin-right: 0.6rem;
}

/* buttons, chips
-----------------------------------------------*/

.chip {
  font-size: 12px;
  text-align: center;
}

/* icons
-----------------------------------------------*/
.wp-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: -4px;
  color: #4c81c9;
}

/* responsive
-----------------------------------------------*/
