@import url("https://fonts.googleapis.com/css2?family=Alike&family=Roboto&display=swap");

:root {
  --font-scale: 12px;
  --text-color: black;
  --color-primary: #435058;
  --color-secondary: #e1735c;
  --color-tertiary: #e8e8e8;
  --inline-code-color: #4c81c9;
  /* --border-color: #d5d5d5; */
  --border-color: #e8e8e8;
  --circle-background-color: #4c81c9;
  --icon-color: #4c81c9;
  --background-color: #fff;
}

[data-theme="dark"] {
  --background-color: #37405b;
  --text-color: #e8e8e8;
  --border-color: #4b5a63;
  --circle-background-color: linear-gradient(#f79d69, #e1735c);
  --icon-color: #f79d69;
}

body * {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.wp-docs {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.hidden {
  display: none;
}

.selected {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
}
h1 {
  font-size: 36px;
  line-height: calc(36px + var(--font-scale));
}
h2 {
  font-size: 32px;
  line-height: calc(32px + var(--font-scale));
}
h3 {
  font-size: 28px;
  line-height: calc(28px + var(--font-scale));
}
h4 {
  font-size: 24px;
  line-height: calc(24px + var(--font-scale));
}
h5 {
  font-size: 20px;
  line-height: calc(20px + var(--font-scale));
  font-family: Alike;
  color: #e1735c;
}

p,
li {
  font-size: 15px;
  color: var(--text-color);
  line-height: 21px;
  margin: 0 0 1rem;
}
p.small {
  font-size: 0.8rem;
}
p.cell {
  margin: 0;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  font-size: 15px;
  color: #4e566d;
}

a {
  color: #e1735c;
}
code {
  color: #4c81c9;
}

code.attribute {
  color: var(--color-primary);
  font-weight: bold;
}

.hljs {
  background: #f8f9fa;
}

.search-found {
  background: #ebebeb;
}

/* main
-----------------------------------------------*/

.wp-docs-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  border-bottom: 1px solid var(--border-color);
}

/* Sidebar 
-----------------------------------------------*/
.wp-docs-sidebar {
  grid: 1/2;
  border-right: 1px solid var(--border-color);
}
.wp-docs-sidebar ul {
  margin: 0;
  padding: 1em;
  position: sticky;
  top: 4.25rem;
}
.wp-docs-sidebar ul li {
  list-style-type: none;
  margin: 0;
  font-size: 0.9rem;
  line-height: 2rem;
}
.wp-docs-sidebar ul li a {
  text-decoration: none;
  color: var(--text-color);
}
.wp-docs-sidebar-title {
  background: var(--background-color);
  position: sticky;
  top: 0;
  height: 4rem;
  border-bottom: 1px solid var(--border-color);
  /* border-top: 1px solid var(--border-color); */
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.wp-docs-sidebar-title img {
  display: block;
}
.menu {
  width: 100%;
}

ul {
  list-style: none;
}

.menu li a {
  display: block;
  padding-left: 5px;
}
.menu li a:hover {
  background: #ebebeb;
}
.menu li span {
  display: block;
  padding-left: 5px;
  cursor: pointer;
}
.menu li span:hover {
  background: #ebebeb;
}

/* Content
-----------------------------------------------*/

.wp-docs-content {
  grid: 2/2;
}

.wp-docs-page-title {
  padding: 2rem;
}

.wp-docs-content article {
  max-width: 980px;
  padding: 4rem;
}

.wp-docs-content-tab {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  color: var(--text-color);
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  font-weight: bold;
  font-size: 24px;
  font-weight: 300;
  /* background-image: linear-gradient(#f79d69, #e1735c); */
}

/* utils
-----------------------------------------------*/

.sticky {
  position: sticky;
  top: 10px;
}

.gray {
  color: #666;
}

.secondary {
  color: #e1735c;
  /* color: #4c81c9; */
}

.thin {
  font-weight: 300;
}

.count {
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-image: var(--circle-background-color);
  background-color: var(--circle-background-color);
  color: #e8e8e8;
  font-size: 14px;
  line-height: 24px;
  margin-right: 0.6rem;
}

/* buttons, chips
-----------------------------------------------*/

.btn-outline-primary {
  border-color: #4c81c9 !important;
}

.btn-outline-primary:hover {
  background-color: #37405b !important;
}

.bg-warning {
  background-color: #f79d69 !important;
  color: var(--text-color) !important;
}

.bg-dark {
  background-color: #4c81c9 !important;
}

/* icons
-----------------------------------------------*/
.wp-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: -4px;
  color: var(--icon-color);
}
